*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(14, 14, 36);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:20px;
}
.button-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width:1000px;
    height:1000px;
    
    

}
.button{
    height:100%;
    width:100% ;
    background-color: rgb(82, 53, 53);
    border:10px solid black;
    font-size:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom:20px

}
.text{
    font-size:2rem;
    color:white
}
.new-game{
    width:300px;
    flex-basis:50px;
    font-size:2.5rem
}
